.display {
    .alert-info {
        text-align: center;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        padding-top: 10px;
    }
    .display-timer-container {
        display: flex;
        justify-content: center;
        .display-timer {
            margin-left: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            .blinking{
                animation:blinkingTimer 1s infinite;
            }
            @keyframes blinkingTimer{
                0%{     color: red;    }
                50%{    color: transparent; }
                100%{   color: red;    }
            }
            .time {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                .default-color {
                    color: black;
                }
                .red-color {
                    color: red;
                }
                .minutes, .seconds {
                    font-size: calc(650% + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
                    margin: 0;
                    margin-right: 10px;
                }
                .second-count {
                    height: 82px;
                    width: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    margin-bottom: -10px;
                    @media (max-width: 640px) {
                        margin-bottom: 2px;
                    }
                    .square-dot {
                        height: 20px;
                        width: 20px;
                        &.default-background {
                            background-color: black;
                        }
                        &.red-background {
                            background-color: red;
                        }
                        margin-top: 24px;
                        span:empty:before {
                            content: "\200b";
                        }
                    }
                }
            }
            .pause, .resume {
                font-size: 3rem;
                margin: 0;
                cursor: pointer;
            }
        }
    }
}
