.display {
    .alert-info {
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        padding-top: 10px;
    }
    .display-timer {
        display: flex;
        align-items: center;
        justify-content: center;
        .time {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            .minutes, .seconds {
                font-size: 9rem;
                margin: 0;
                margin-right: 10px;
            }
            .second-count {
                height: 100px;
                width: 20px;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;
                margin-bottom: -10px;
                .square-dot {
                    height: 20px;
                    width: 20px;
                    background-color: black;
                    margin-top: 24px;
                    span:empty:before {
                        content: "\200b";
                      }
                }
            }
        }
        .pause {
            font-size: 3rem;
            margin: 0;
            cursor: pointer;
        }
    }
}
