.time-input {
    display: flex;
    div > span {
        margin-right: 6px;
        position: relative;
        top: 25%;
        bottom: 25%;
    }
    input {
        margin-right: 6px;
        width: 70px;
        padding: 6px 15px;
        &.error {
            outline: none;
            border:1px solid red;
            box-shadow: 0 0 10px #70a0d3;
        }
    }
}
